
*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #90b4d8;
    height: 100vh;
}

.content-area{
    background: #fff;
    width: 45%;
    top: 23%;
    left: 50%;
    min-width: 460px;
    min-height: auto;
    position: absolute;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}

#new-todo{
    padding: 32px 22px;
    position: relative;
}

#new-todo input{

    width: 77%;
    border-radius: 5px;
    position: relative;
    height: 48px;
    padding: 12px;
    color: #111111;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    border: 2.1px solid #d1d3d4;
    font-weight: 501;

}

#new-todo input:focus{
    outline: none;
    border-color: #90b4d8;
}

#new-todo button{
    
    background-color: #90b4d8;
    font-family: 'Poppins',sans-serif;
    padding: 10px;
    position: relative;
    font-weight: 510;
    border: none;
    font-size: 16px;
    color: #fff;
    width: 21%;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    
}

#todo-list{
    background: #fff;
    width: 45%;
    top: 53%;
    left: 50%;
    max-height:275px;
    overflow-y: scroll;
    min-width: 460px;
    min-height: auto;
    position: absolute;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}

ul{
    list-style: none;
}
ul li{
    padding: 5px;
}
ul li:hover{
    background-color: lightgray;
    border-radius: 10px;
}


#dateSpan {
    background-color: #90b4d8;
    float: right;
    color:white;
    margin-top: 5px;
}
.btnDelete{
    color:white;
    background-color: red;
    border-radius: 4px;
    margin: 4px;
    padding: 3px;
    border: none;
}

.btnDelete:hover {
    background-color: #f44336;
    color: white;
    margin: 5px;
    padding: 4px;
    font-size: 14px;
  }

  .todoText{
    width: 63%;
    height: auto;
    background-color: aqua;
    position: absolute;
    vertical-align: middle;
  }


