
*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #90b4d8;
    height: 100vh;
}

.content-area{
    background: #fff;
    width: 45%;
    margin: 0 auto;
    min-width: 460px;
    min-height: auto;
    border-radius: 10px;
}

#new-todo{
    padding: 32px 22px;
    position: relative;
}

#new-todo input{

    width: 95%;
    border-radius: 5px;
    position: relative;
    height: 48px;
    padding: 12px;
    color: #111111;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    border: 2.1px solid #d1d3d4;
    font-weight: 501;
    margin: 3px;

}

#new-todo input:focus{
    outline: none;
    border-color: #90b4d8;
}

#new-todo button{
    
    background-color: #90b4d8;
    font-family: 'Poppins',sans-serif;
    padding: 10px;
    position: relative;
    font-weight: 510;
    border: none;
    font-size: 16px;
    color: #fff;
    width: 96%;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    
}

#todo-list{
    background: #fff;
    width: 45%;
    max-height:270px;
    overflow-y: scroll;
    min-width: 460px;
    min-height: auto;
    border-radius: 10px;
    margin:4px auto;
}

ul{
    list-style: none;
}
ul li{
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
ul li:hover{
    background-color: lightgray;
    border-radius: 10px;
}


#dateSpan {
    background-color: #90b4d8;
    float: right;
    color:white;
    margin-top: 5px;
}
.btnDelete{
    color:white;
    background-color: red;
    border-radius: 4px;
    margin: 4px;
    padding: 3px;
    border: none;
}

.btnDelete:hover {
    background-color: #f44336;
    color: white;
    margin: 5px;
    padding: 4px;
    font-size: 14px;
  }

  .todoText{
    width: 63%;
    height: auto;
    background-color: aqua;
    position: absolute;
    vertical-align: middle;
  }

  input[type='checkbox']{
    margin: 3px;
    vertical-align: middle;
  }

  h1{
    text-align: center;
    padding: 8px;
    color:#fff;
    font-size: 280%;
  }


  @media only screen and (max-width: 600px) {
    h1{
        font-size: 190%;
    }

    .content-area{
        width: 45%;
        min-width: 360px;
    }
    #todo-list{
        min-width: 360px;

    }
  }
